[Unit]
Description=Hermes: ochtendrapport elke dag (flow-config tijden.ochtendrapport)

[Timer]
OnCalendar=*-*-* @OCHTENDRAPPORT@:00 @TIJDZONE@
Persistent=true

[Install]
WantedBy=timers.target
